*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}


#matrix {
  width: 100vw;
  height: 100vh;
}
.word {
  position: absolute;
  top: -50px;
  color: #00ff00;
  font-family: monospace;
  font-size: 18px;
  white-space: nowrap;
  animation: fall linear infinite;
}

@keyframes fall {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(110vh);
    opacity: 0.2;
  }
}

p{
    font-size: 2rem;
    font-family: monospace;
    color: rgb(12, 167, 12);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    background-color: black;
    padding: 20px 10px;

}